
{% extends 'base.html.twig' %}


{% block body %}
<section class="container my-3 beige">
    <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
            <h1>Formulaire de commande</h1>
            {{ form_start(commandeForm) }}
            {{ form_row(commandeForm.adresseLivraison) }}
            {{ form_row(commandeForm.adresseFacturation) }}
            {{ form_row(commandeForm.MoyenPaiement) }}
            {{ form_row(commandeForm.RGPDConsent) }}
            <button type="submit" class="btn btn-primary">Valider la commande</button>
            {{ form_end(commandeForm) }}
        </div>
    </div>
<section>
{% endblock %}